<h1>Enter a number</h1>

<form action="/square_root/results">
<label for "square_root">Enter a number</label>
<input id= "sqaure_root" type="text" name="sqaure_root_number" placeholder="What number do you want to enter"><br><button>Calculate square root</button>
</form>
