<h1>Enter a number</h1>

<form action="/payment/results">
<label>Enter a number</label>
<input type="text" name="users_number" placeholder="What number do you want to enter"><br><button>Calculate square</button>
</form>
